{% extends 'base.html' %}
{% load static %}


{% block stylesheet %}
{% endblock %}


{#   for index page   #}
{% block welcome_area %}
{% endblock %}

{% block small_collection %}
{% endblock %}

{% block body %}
{% endblock %}

{% block offer_area %}
{% endblock %}


{% block popular_product %}
{% endblock %}


{% block brand_area %}
{% endblock %}


{# for shop page #}

{% block coverpage_shop %}

{% endblock %}

{% block shob_body %}
{% endblock %}


{#  single product page #}

{% block single_page %}
{% endblock %}

{# cart area #}
{% block cart_area %}
{% endblock %}
