{% block stylesheet %}

{% endblock %}

{% block navbar %}
{% for clt in collections %}
<ul class="single-mega cn-col-4">
  <li class="title">{{ clt.title }}</li>
  {% for cat in categorys %}
  {% if clt == cat.which_people %}
  <li><a href="">{{ cat.title }}</a></li>
  {% endif %}
  {% endfor %}
</ul>
{% endfor %}
{% endblock %}

{#   for index page   #}
{% block welcome_area %}

{% endblock %}

{% block small_collection %}
{% endblock %}

{% block body %}
{% endblock %}

{% block offer_area %}
{% endblock %}


{% block popular_product %}
{% endblock %}


{% block brand_area %}
{% endblock %}


{# for shop page #}

{% block coverpage_shop %}

{% endblock %}

{% block shob_body %}
{% endblock %}


{#  single product page #}

{% block singel_page %}
{% endblock %}
