{% extends 'base.html' %}
{% load static %}

{% block stylesheet %}

{% endblock %}

{% block navbar %}

{% endblock %}

{#   for index page   #}
{% block welcome_area %}

{% endblock %}

{% block small_collection %}
{% endblock %}


{% block offer_area %}
{% endblock %}


{% block popular_product %}
{% endblock %}


{% block brand_area %}
{% endblock %}


{#   for shop page #}

{% block coverpage_shop %}
    <div class="breadcumb_area bg-img" style="background-image: url({% static 'img/bg-img/breadcumb.jpg' %});">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="page-title text-center">
                        <h2>{{ category_name }} Category Name</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block shob_body %}
{% endblock %}


{#  single product page #}

{% block singel_page %}
{% endblock %}
