{% extends 'base.html' %}
{% load static %}


{% block stylesheet %}
{% endblock %}


{#   for index page   #}
{% block welcome_area %}
{% endblock %}

{% block small_collection %}
{% endblock %}

{% block body %}
    {# cart area #}
    {% if cart %}
        <div class="breadcumb_area bg-img" style="background-image: url({% static "img/bg-img/breadcumb.jpg" %});">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <div class="page-title text-center">
                            <h2>Shopping Cart</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="site-section py-5">
            <div class="container">
                <div class="row mb-5 ">
                    <form class="col-md-12" method="post">
                        <div class="site-blocks-table">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th class="product-thumbnail">Image</th>
                                    <th class="product-name">Product</th>
{#                                    <th class="product-size">Size</th>#}
{#                                    <th class="product-color">color</th>#}
                                    <th class="product-price">Price</th>
                                    <th class="product-quantity">Quantity</th>
                                    <th class="product-total">Total</th>
                                    <th class="product-remove">Remove</th>
                                </tr>
                                </thead>
                                <tbody class=" text-center">
                                {% for item in cart %}
                                    {% with product=item.product %}
                                        <tr class="">
                                            <td class="product-thumbnail align-middle">
                                                <a href="{{ product.get_absolute_url }}"><img
                                                        src="{{ product.pro_images.first.image.url }}" alt="Image"
                                                        class="img-fluid"></a>
                                            </td>
                                            <td class="product-name align-middle">
                                                <a href="{{ product.get_absolute_url }}"><p
                                                        class=" text-black">{{ product.name }}</p></a>

                                            </td>
{#                                            <td class="align-middle product-size">M</td>#}
{#                                            <td class="align-middle product-color">RED</td>#}
                                            <td class="align-middle">${{ product.price }}</td>
                                            <td class="align-middle">

                                                <form action="{% url "cart:cart_add" product.id %}" method="post">
                                                    {% csrf_token %}
                                                    {{ item.update_quantity_form.quantity }}
                                                    {{ item.update_quantity_form.update }}
                                                    <input type="submit" value="Update">
                                                </form>
                                            </td>
                                            <td class="align-middle">${{ item.total_price }}</td>
                                            <td class="align-middle"><a href="{% url 'cart:cart_remove' product.id %}"
                                                                        class="btn btn-primary btn-sm ">X</a></td>
                                        </tr>
                                    {% endwith %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </form>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="row mb-5">
                            <div class="col-md-6">
                                <a href="{% url 'product:home' %}">
                                    <button class="btn btn-outline-primary btn-sm btn-block">Continue Shopping</button>
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label class="text-black h4" for="coupon">Coupon</label>
                                <p>Enter your coupon code if you have one.</p>
                            </div>
                            <div class="col-md-8 mb-3 mb-md-0">
                                <input type="text" class="form-control py-3" id="coupon" placeholder="Coupon Code">
                            </div>
                            <div class="col-md-4">
                                <button class="btn btn-primary btn-sm">Apply Coupon</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 pl-5">
                        <div class="row justify-content-end">
                            <div class="col-md-7">
                                <div class="row">
                                    <div class="col-md-12 text-right border-bottom mb-5">
                                        <h3 class="text-black h4 text-uppercase">Cart Totals</h3>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <span class="text-black">Subtotal</span>
                                    </div>
                                    <div class="col-md-6 text-right">
                                        <strong class="text-black">${{ cart.get_total_price }}</strong>
                                    </div>
                                </div>
                                <div class="row mb-5">
                                    <div class="col-md-6">
                                        <span class="text-black">Total</span>
                                    </div>
                                    <div class="col-md-6 text-right">
                                        <strong class="text-black">${{ cart.get_total_price }}</strong>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <a href="{% url 'orders:order_create' %}">
                                            <button class="btn btn-primary btn-lg py-3 btn-block">
                                                Checkout
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="breadcumb_area bg-img" style="background-image: url({% static "img/bg-img/breadcumb.jpg" %});">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <div class="page-title text-center">
                            <h2>Shopping Cart Empty</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}

{% block offer_area %}
{% endblock %}


{% block popular_product %}
{% endblock %}


{% block brand_area %}
{% endblock %}


{# for shop page #}

{% block coverpage_shop %}

{% endblock %}

{% block shob_body %}
{% endblock %}


{#  single product page #}

{% block single_page %}
{% endblock %}





