{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block body %}
    <div class="container py-5">
        <div class="row">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <div class="col-6">
                        {{ user_form.as_p }}
                    </div>
                    <div class="col-6">
                        {{ profile_form.as_p }}
                    </div>
                </div>

                <input class="btn bg-info" type="submit" value="Save Changes">
                {#                <div class="row">#}
                {#                    <div class="col-6">#}
                {#                        {%  profile_form%}#}
                {#                        <input type="submit" value="Save Change">#}
                {#                    </div>#}
                {#                    <div class="col-6">#}
                {#                        {% crispy user_form %}#}
                {#                    </div>#}
                {##}
                {#                </div>#}
                {##}
                {#                <div class="col-6">#}
                {#                    {{ profile_form }}#}
                {#                    {% crispy profile_form %}#}
                {#                </div>#}
                {#                <div class="col-6">#}
                {#                    {{ user_form }}#}
                {#                    {% crispy user_form %}#}
                {#                    <input type="submit" value="Save Change">#}
                {##}
                {#                </div>#}
            </form>
        </div>
    </div>

{% endblock %}