{% extends 'base.html' %}
{% load static %}

{% block stylesheet %}
    <style>
        .glyphicon {
            margin-bottom: 10px;
            margin-right: 10px;
        }

        small {
            display: block;
            line-height: 1.428571429;
            color: #999;
        }

    </style>
{% endblock %}

{% block body %}
    {#    <div class="container py-5">#}
    {#        <div class="row">#}
    {#            <div class="col-4 text-center">#}
    {#                {% if user.profile.photo %}#}
    {#                    <img class="img-fluid rounded-circle" src="{{ user.profile.photo.url }}" alt="img">#}
    {#                {% else %}#}
    {#                    <img src="{% static 'img/core-img/user_img.svg' %}" alt="">#}
    {#                {% endif %}#}
    {#                <small class="lead">@ {{ user }}</small>#}
    {#                <br>#}
    {#                <small>{{ user.email }}</small>#}
    {#                <h3>{{ user.first_name|upper }} {{ user.last_name|upper }}</h3>#}
    {#                <h6>{{ user.profile.address }}</h6>#}
    {#                <a class="btn btn-outline-warning" href="{% url 'account:editProfile' %}">Edit Profile</a>#}
    {#                <br>#}
    {#                <a class="btn btn-outline-primary btn-sm mt-3" href="{% url 'account:logout' %}">Log out</a>#}
    {#                <button class="btn btn-outline-warning"><a href="{% url 'account:editProfile' %}">Edit Profile</a></button>#}
    {#            </div>#}
    {#            <div class="col-8 justify-content-center text-center">#}
    {#                <h3>Your orders</h3>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}

    <div class="container py-5">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="well well-sm">
                    <div class="row">
                        <div class="col-sm-6 col-md-4">
                            <img src="{{ user.profile.photo.url }}" alt="" class="img-rounded img-responsive"/>
                        </div>
                        <div class="col-sm-6 col-md-8">
                            <h4>{{ user.username|capfirst }}</h4>
                            <small><cite title="San Francisco, USA">{{ user.profile.address }} <i
                                    class="glyphicon glyphicon-map-marker fa fa-truck fa-2x">
                            </i></cite></small>
                            <p>
                                <i class="glyphicon glyphicon-envelope fa fa-envelope"></i>{{ user.email }}
                                <br/>
                                <i class="glyphicon glyphicon-gift fa fa-phone"></i>+880{{ user.profile.phone }}</p>
                            <a class="lyphicon glyphicon-gift" href="{% url 'account:editProfile' %}"><i
                                    class="fa fa-edit fa-2x"></i>edit</a><br><br>
                            <!-- Split button -->

                            <div class="mb-5">
                                <a class="btn btn-outline-primary btn-sm mt-3" href="{% url 'account:logout' %}">Log
                                    out</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6  ">
                <h3 class="text-center">Your orders</h3>
                <ul class="list-group list-group-flush pt-3">
                    {% for order in user.profile.user_order.all %}
                        <li class="list-group-item"><a href="">Order Id: {{ order }} <i class="pl-5 fa fa-dollar"></i> {{ order.get_total_cost }}</a></li>
                    {% endfor %}
                </ul>

            </div>
        </div>
    </div>
{% endblock %}